@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F9FD;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}
